
body {
  font-family: sans-serif;
  text-align: center;
  background-color: #cceeff;
}
.characters {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}
.character img {
  width: 150px;
  height: auto;
}
